@media (min-width: 768px) {
  .row.row-cols-md-3 {
    display: flex;
    flex-wrap: wrap;
  }

  .row.row-cols-md-3 .col {
    flex: 0 0 auto;
    width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
}